/*nav B*/
.nav {
	height: 44px;
	border-bottom:2px solid #b1191a;
}
.nav-shortcut{
	width: 210px;
	height: 44px;
	float: left;
	position: relative;
	z-index: 1;
}
.nav-shortcut-all{
	width: 210px;
	height: 44px;
	background-color: #b1191a;
}
.nav-shortcut-all a{
	display: inline-block;
	height: 44px;
	padding-left: 10px;
	font: 400 16px/44px "microsoft yahei";
	color: #ffffff;
}
.nav-shortcut-one{
	width: 210px;
	height: 466px;
	margin-top: 2px;
	border-left: 1px solid #b1191a;
	border-bottom: 1px solid #b1191a;
}
.nav-shortcut-one div{
	height: 31px;
	padding: 0 15px 0 10px;
	font:400 14px/31px "microsoft yahe";
	
	background-color: #c81623;
}
.nav-shortcut-one  div h3{
	float: left;
	color: #fff;
}
.nav-shortcut-one  div a{
	float: left;
	color: #fff;
}
.nav-shortcut-one  div i{
	float: right;
	color: #fff;
	font:400 9px/31px "consolar";
}
.nav-shortcut-one div:hover{
	background-color: #fff;
}
.nav-shortcut-one div:hover a{
	color: #C81623;
}
.nav-items {
	float: left;
}
.nav-items li{
	float: left;
}
.nav-items a{
	display: inline-block;
	height: 44px;
	padding: 0 20px;
	font: 16px/44px "microsoft";
	color: #333333;
}
/*nav E*/
/*main B*/
.main-slider{
	float: left;
	padding: 12px 0 0 220px;
}
.main-faster{
	width: 250px;
	height: 454px;
	margin-top: 12px;
	background-color: yellow;
	float: right;
	}
/*main E*/